:root{
	--theme: #1b4a0c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #eee;
}

a:active{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: white;
}

p{
	font-size: 1.5rem;
	font-weight: 300;
}

header#f_header{
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 5;
}
header#m_header{
	position: relative;
	z-index: 5;
	width: 100%;
	display: none;
}

/*Large screen device header*/

/*top container*/
header#f_header .top-con{
	background: url("../img/lib.jpg") no-repeat center fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0px;
}


/*Landing text*/
header#f_header .top-con .landing-text h1{
	font-size: 50px;
	background-color: white;
	color: var(--theme);
	opacity: 50%;
	width: 35%;
	padding: 10px;
	margin: 20% auto 0 auto;
	border-radius: 45%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-weight: bold;
}
header#f_header .top-con .landing-text p{
	color: black;
	margin: 20px auto;
	text-align: center;
	width: 13%;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
	opacity: 70%;
}

/*Top bar*/
header#f_header .top-con .top-bar{
	background: var(--theme);
	color: white;
	height: 72px;
	width: 100%;
	opacity: 80%;
	position: fixed;
	top: 0;
}

header#f_header .top-con .top-bar .top-left{
	position: absolute;
	background: black;
	left: 30px;
}
header#f_header .top-con .top-bar .top-left{
	padding-top: 17px;
	font-weight: bold;
	font-size: 30px;
}
header#f_header .top-con .top-bar .top-left *{
	float: left;
}
header#f_header .top-con .top-bar .top-left img{
	height: 50px;
	width: auto;
	margin-right: 20px;
	position: absolute;
	top: 7px;
}
header#f_header .top-con .top-bar .top-left span{
	position: absolute;
	left: 55px;
	width: 500px;
}

header#f_header .top-con .top-bar .top-right{
	font-weight: bold;
	font-size: 20px;
	background: inherit;
}

/*navbar*/
header#f_header .top-con .top-bar .top-right .top-nav{
	float: left;
}

header#f_header .top-con .top-bar .top-right .top-nav nav.navbar{
	padding-top: 5px;
}
header#f_header .top-con .top-bar .top-right .top-nav nav.navbar div.nav-item{
	background-color: var(--theme);
	padding: 15px;
}
header#f_header .top-con .top-bar .top-right .top-nav nav.navbar div.nav-item3{
	margin-right: 5px;
}
header#f_header .top-con .top-bar .top-right .top-nav nav.navbar a{
	text-decoration: none;
	color: white;
	height: 100%;
}

header#f_header .top-con .top-bar .top-right .top-nav nav.navbar a div.nav-item:hover{
	background-color: white;
	transition: 0.5s;
}

header#f_header .top-con .top-bar .top-right .top-nav nav.navbar a:hover{
	color: black;
}

header#f_header .top-con .top-bar .top-right{
	position: absolute;
	right: 0;
}

/*Small screen device header*/

/*top container*/
header#m_header .top-con{
	background-color: var(--theme);
	display: inline-block;
	height: auto;
	width: 100%;
	padding: 20px 0 20px 0;
}
header#m_header .top-con img{
	height: 70px;
	width: auto;
	position: absolute;
	top: 15px;
	left: 20px;
}

header#m_header .top-con h5{
	text-align: center;
	font-weight: bold;
	color: white;
	padding-top: 10px;
}



/*Page sections*/
section{
	padding: 3rem 0;
	position: relative;
}
section .section-heading{
	font-size: 50px;
	text-align: center;
}

section#books .con{
	background-color: transparent;
}


section#books .con .categories{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

section#books .con .categories .book-icon{
	margin: 50px 100px 0px 100px;
}

section#books .con .categories .book-icon img{
	height: 200px;
	width: auto;
}

.book-icon {
	position: relative;
	width: 50%;
	max-width: 200px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay{
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity: 1;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}


.book-icon:hover{
	cursor: pointer;
}


section#about .container div.about-con{
	margin-top: 60px;
	text-align: justify;
}

.footer{
	background-color: var(--theme);
	color: white;
	width: 100%;
	position: absolute;
	text-align: center;
	padding: 20px;
}

.footer p{
	font-size: 20px;
}
.footer p span{
	font-weight: bold;
}

.footer p a:hover{
	text-decoration: underline;
}
.footer p a:active{
	text-decoration: underline;
}
.footer p a:focus{
	text-decoration: underline;
}

/*scrollbar*/
::-webkit-scrollbar{
	width: 20px;
}
::-webkit-scrollbar-track{
	background-color: white;
}
::-webkit-scrollbar-track-piece{
	background-color: white;
}
::-webkit-scrollbar-thumb{
	background-color: var(--theme);
	border-left: 1px solid white;
}
::-webkit-scrollbar-thumb:hover{
	background-color: var(--theme);
}
/*::-webkit-scrollbar-button{
	background-color: white;
}*/
::-webkit-scrollbar-corner{
	background-color: white;
}






/*media quesries*/
@media only screen and (max-width: 918px){
	header#f_header{
		display: none;
	}
	header#m_header{
		display: block;
	}
	section .section-heading{
		font-size: 35px;
		font-weight: bold;
	}
	section#books .con .categories .book-icon{
		margin: 20px 10px 0px 10px;
	}
	section#books .con .categories .book-icon img{
		height: 150px;
	}
	.book-icon {
		position: relative;
		width: 50%;
		max-width: 150px;
	}
	p{
		font-size: 1.2rem;
	}
}