*{
	margin: 0;
	padding: 0;
}

.top_con{
	background: url("../img/lib.jpg") no-repeat center fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.top_con .header-content h1{
	font-size: 50px;
	background-color: white;
	/*color: #143a08;*/
	color: black;
	opacity: 50%;
	width: 35%;
	padding: 10px;
	margin: 15% auto 0 auto;
	border-radius: 45%;
	text-align: center;
}
.top_con .header-content p{
	color: black;
	margin: 20px auto;
	text-align: center;
	width: 20%;
	font-size: 20px;
	font-weight: bold;
	background-color: white;
	opacity: 70%;
	border-radius: 15%;
}
.top_con .top_bar{
	/*background: #143a08;*/
	background: black;
	color: white;
	height: 10%;
	width: 100%;
	opacity: 80%;
	position: sticky;
	top: 0;
}

.top_con .top_bar .top-left{
	position: fixed;
	left: 30px;
}
.top_con .top_bar .top-left{
	padding-top: 20px;
	font-weight: bold;
	font-size: 30px;
}

.top_con .top_bar .top-right{
	font-weight: bold;
	font-size: 20px;
}

.top_con .top_bar .top-right .top_nav.nav nav.navbar{
	padding-top: 10px;
}
.top_con .top_bar .top-right .top_nav.nav nav.navbar div.nav-item{
	display: inline-flex;
	/*background-color: #143a08;*/
	background-color: black;
	padding: 15px;
}
.top_con .top_bar .top-right .top_nav.nav nav.navbar div.nav-item3{
	margin-right: 5px;
}
.top_con .top_bar .top-right .top_nav.nav nav.navbar a{
	text-decoration: none;
	color: white;
	width: 100%;
	height: 100%;
}

.top_con .top_bar .top-right .top_nav.nav nav.navbar a div.nav-item:hover{
	background-color: white;
	transition: 0.5s;
}

.top_con .top_bar .top-right .top_nav.nav nav.navbar a:hover{
	color: black;
}

.top_con .top_bar .top-right{
	position: fixed;
	right: 0;
}

div.main{
	background-color: white;
	height: 100%;
	padding-top:100%;
}